<div class="grid grid-cols-6 grid-flow-col-dense h-full md:flex-row items-center justify-items-center p-1 md:p-6 bg-white dark:bg-[var(--color-secondary)]  text-gray-600 dark:text-gray-200">
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a>    
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a>    
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
    <a href="/">
        <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
    </a> 
</div>