<div class="flex flex-col md:flex-row  items-center justify-center w-full mx-auto px-8 py-12 ">
    <div class="flex flex-col items-center justify-center md:items-start md:justify-start p-4 space-x-1">
        <h2 class="text-3xl font-bold text-red-600 mb-4">
            Why Choose Astro?
        </h2>
        <p class="text-sm md:text-lg text-black font-light text-star max-w-2xl p-2">
            Astro is a modern static site generator that delivers lightning-fast performance by default. It allows you to use your favorite frameworks like React, Vue, or Svelte, while keeping the final output optimized for speed.
        </p>
        <a class="inline-flex items-center gap-3 px-8 py-3 bg-gradient-to-r from-red-300 to-red-600 hover:from-red-600 hover:to-red-300 text-white font-bold rounded-full shadow-xl transform hover:scale-105 transition duration-300" href="/diviertete">
            <span class="text-lg">
                Contact
            </span>
            <div aria-hidden="true" class="flex items-center justify-center h-[32px] w-[32px] bg-white text-red-600 rounded-full ml-1 dark:bg-[#121212] dark:text-white">
                →
            </div>
        </a>
    
    </div>
    <div class="flex justify-center">
        <iframe class="w-[320px] h-[240px]  md:w-[560px] md:h-[315px]" src="https://www.youtube.com/embed/dsTXcSeAZq8?si=M3bvOXbZ0wYBo5yg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</div>
<style>
    