<header id="main-header" class="flex flex-grow bg-opacity-15 bg-white md:bg-transparent shadow-md md:shadow-none items-center w-full fixed top-0 justify-between z-40 md:text-base 2xl:text-xl">
    <div class="flex flex-grow justify-start basis-0 pl-5">
        
        <a href="/">
           <h1 class="font-bond md:text-base 2xl:text-xl"><strong>LOGO</strong></h1>
        </a>        
    </div>
  
    <!-- Desktop Menu -->
    <div id="desktop-menu" class="lg:flex hidden flex-grow justify-end basis-5 pb-1 pr-10">
      <ul class="flex [&>li>a]:inline-block [&>li>a]:px-8 [&>li>a]:py-1 shadow-md bg-white rounded-lg">
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/">Home</a></li>
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/">Blog</a></li>
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/services">Services</a></li>
        <li><a class="text-[var(--color-primary)] hover:rounded-lg hover:text-white hover:bg-[var(--color-primary)] hover:underline decoration-white" href="/contact">Contact</a></li>
      </ul>
    </div>
  
    <!-- Mobile Toggle -->
    <div class="menu flex lg:hidden justify-end pr-5" onclick="window.openMenu()">
        
        <svg id="menu-icon" width="48px" height="48px" viewBox="0 0 2.4 2.4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path width="48" height="48" fill="white" fill-opacity="0.01" d="M0 0H2.4V2.4H0V0z"/>
            <path d="M1.85 0.9 1.25 1.5 0.65 0.9" stroke="#000000" stroke-width="0.2" stroke-linecap="round" class="block" stroke-linejoin="round"/>
        </svg>

        <svg id="close-icon" width="48px" height="48px" viewBox="0 0 2.88 2.88" fill="none" class="hidden" xmlns="http://www.w3.org/2000/svg">
            <path width="48" height="48" fill="white" fill-opacity="0.01" d="M0 0h2.88v2.88H0z"/>
            <path d="m0.78 1.8 0.72 -0.72 0.72 0.72" stroke="#000000" stroke-width="0.24" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
  
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden absolute top-9 left-0 w-full bg-white rounded-2 shadow-md z-30 lg:hidden">
      <ul class="flex flex-col gap-2 py-4 px-6">
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/">Home</a></li>
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/">Blog</a></li>
        <li><a class="hover:rounded-lg hover:text-[var(--color-primary)] hover:bg-white hover:underline decoration-[var(--color-primary)]" href="/services">Services</a></li>
        <li><a class="text-[var(--color-primary)] hover:rounded-lg hover:text-white hover:bg-[var(--color-primary)] hover:underline decoration-white" href="/contact">Contact</a></li>
      </ul>
    </div>
</header>

<script>
    declare global {
      interface Window {
        openMenu: () => void;
      }
    }

    function openMenu() {
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');

        if (mobileMenu && menuIcon && closeIcon) {
            const isHidden = mobileMenu.classList.contains('hidden');

            mobileMenu.classList.toggle('hidden', !isHidden);
            menuIcon.classList.toggle('hidden', isHidden);
            closeIcon.classList.toggle('hidden', !isHidden);
        }
    }

    window.openMenu = openMenu;
</script>