---
import Card from '../components/Card.astro';
---
<section class=" relative flex flex-col h-screen  items-center justify-center text-gray-600 bg-cover bg-center" >
    
    <h2 class="text-3xl font-bold mb-4">Trending Collection</h2>
    <p class="text-lg xl:text-2xl pb-2 md:pb-0 font-light leading-relaxed">
        This section provides additional information about the page. 
    </p>
    <!-- Contenido principal sin bordes duros -->
    <div class="grid grid-cols-3 space-x-7 mt-8">
        <Card title="Nosotros" img="../image1.webp" href="" />
        <Card title="Servicios" img="../image2.webp" href="" />
        <Card title="Contacto" img="../image3.webp" href="" />
    </div>
</section>
  
  


